body{
    background-color:white;
    color:white;
    font-family:ubuntu,-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#nom{
    font-size:3.4vh;

}

#logo{
    position: absolute;
    top: 60vh;
    left:36vw;
    border:solid white 2px;
    padding: 5px;
}

#python{
    max-width:15vw;
    max-height:15vh;
    padding-right:5vw;
    padding-left:0px;
}

#java{
    max-width:10vw;
    max-height:15vh;
}

#violet{
    color:rgb(244, 255, 147);
    text-shadow: black 0px 0px 3px;
}

#intitule{
    font-family:sans-serif;
    font-size: 2.5vh;
    font-variant: small-caps;
    font-weight:100;
}

#centre{
    position:inherit;
    top:3em;
    left:13vw;
    background-color:rgb(39, 33, 23);
    padding: 3vh;
    border: solid rgb(250, 255, 224) 10px;
}

#p1{
    position:absolute;
    top:0px;
    left:0px;
    right:0px;
    background-color: #20171b;
    padding-bottom:100vh;
}

#p2{
    position:absolute;
    top:100vh;
    right:0px;
    left:0px;
    background-color:rgb(236, 232, 253);
    margin-left:5px;
    padding-bottom:100vh;
}

.mots{

    position:inherit;
    margin-left: 6vw;
    font-size:5vh;
}

.descriProjet{
    position:inherit;
    color:rgb(2, 39, 87);
    font-size:1.7vh;
    text-align: justify;
    margin-left: 7vw;
    margin-right: 7vw;
    top:25vh;
}

.projets{
    position:inherit;
    color:rgb(2, 39, 87);
    font-size:3vh;
    margin-left: 7vw;
    top:17vh;
}

p{
    color:black;
}

h1{
    color:black

}
